.group-image{
    width: 395.91px;
    height: 232px;
    margin: 2rem 0rem 1rem;
    align-self: center;
    max-width: 450px;
    flex-direction: column;


}
.image-grid{
    display: grid;
    grid-template-columns: 34% 34% 25% ;
    grid-gap: 1rem;
    justify-content: space-between;
    padding: 0 0 2rem 1.6rem;
    overflow-x: scroll;
    position: relative;
    
}
.content{
    border-radius:0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

#image1::before {
    position: absolute;
    content: 'SOLD OUT';
    font-size: 10.24px;
    width: 61px;
    max-height: 20px;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0.3rem 0 0 0.4rem;
    padding: 0.14rem 0;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #222222;
}
.image2::before {
    position: absolute;
    content: 'ONLINE';
    font-size: 10.24px;
    width: 61px;
    height: 20px;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0.3rem 0 0 0.4rem;
    padding: 0.14rem 0;
    text-align: center;
    background-color: #fff;
    color: #222222;
}

.images{
    width: 176px;
    height: 235px;
    flex: 25%;
}
.image3{
    width: 139px;
    margin-left: -0.22rem;
}

.detail{
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin-top: -0.6rem;
}
.detail3{
    width: 85%;
margin-left: -0.2rem;
}
.details{
    line-height: 1rem;
    font-size: 12px;
}
.bikin{
    padding:  0 0 0.7rem 0rem;
    margin: auto auto auto ;
}
.p {
    margin-top: -0.5rem;
}
.grey{
    color: #918E9B;
}

h1{
    font-size: 33px;
}
.paragraph{
    width: 60%;
    line-height: 1.2rem;
    margin: 1.4rem 0 1rem 1.6rem;
}

.image1, .image2{
    position: relative;
}
.imagee3{
    position: absolute;
    margin: 0 0 0 26.5rem;
}